        #govde 
        {
            width:920px; 
            background-color:lightblue;
            height:500px;
        }
        #baslik 
        {
            width:920px; 
            background-color:white;
            height:120px;
        }
        #ustmenu 
        {
            width:920px; 
            background-color:lightblue;
            height:40px;
        }
        #solmenu 
        {
            width:200px; 
            background-color:white;
            height:auto;
            min-height:418px;
            float:left;
        }
        #icerik 
        {
            width:500px; 
            background-color:white;
            height:auto;
            min-height:418px;
            float:left;
        }
        #sagmenu 
        {
            width:220px; 
            background-color:lightblue;
            height:auto;
            min-height:418px;
            float:left;
        }
        #altbaslik 
        {
            clear:both;
            width:920px; 
            background-color:gray;
            height:40px;
            color:white;
        }
        .resim 
        {
            width:150px; 
            height:220px;
            /*border-style:solid;*/
            /*border-color:black;*/
            text-align:center;
            float:left;
        }
        .divlogo
        {
            height:120px;
            width:260px;
            float:left;
            vertical-align:bottom;
        }
        .divslogan
        {
            height:120px;
            width:260px;
            float:left;
            vertical-align:bottom;
        }
        .diviletisim
        {
            height:120px;
            width:400px;
            float:left;
            vertical-align:bottom;
            text-align:right;
            font-family:Verdana;
            font-size:large;
            font-weight:bold;
        }
        .ortala 
        {
            text-align:center;
        }

